# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
env/

# Node
node_modules/
.next/
out/
build/
dist/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
